---
import { Image } from 'astro:assets'
import { clsx } from 'clsx'
import omit from 'lodash/omit'
import dayjs from 'dayjs'

import type { AnchorProps, Project } from '$project/types'

type Props = astroHTML.JSX.HTMLAttributes & Project

const {
  title,
  description,
  url,
  image,
  date,
  anchorProps,
  tags = [],
  ...rest
} = Astro.props
---

<section
  {...omit(rest, 'class')}
  class={clsx(
    'border px-6 py-4 rounded-xl space-y-4 sm:flex gap-4 justify-evenly items-center shadow',
    rest.class
  )}
>
  {
    image && (
      <a
        href={url}
        class={clsx(omit(anchorProps, 'class'), 'flex-shrink-0')}
        {...anchorProps}
      >
        <Image
          src={image}
          alt={title}
          class="w-full sm:w-20 max-w-[200px] aspect-square rounded-xl mx-auto"
        />
      </a>
    )
  }
  <div>
    <a href={url} {...anchorProps}>
      <h1 class="text-2xl font-bold">{title}</h1></a
    >
    <p>
      {description}
    </p>
    <div class="pt-4 space-y-2">
      {
        tags.length !== 0 && (
          <div class="flex flex-wrap gap-2">
            {tags.map(tag => (
              <a href={tag.url} class="text-sm px-2 py-0.5 text-white font-semibold bg-blue-500 rounded-lg">{tag.label}</a>
            ))}
          </div>
        )
      }
      <p class="text-gray-600 text-sm">
        Published: {dayjs(date).format('DD MMM YYYY ')}
      </p>
    </div>
  </div>
</section>
